[kodi18]
Version = 18.1
Shell = kodi18.sh
icon256 = kodi18.png
# Fond : fond_bleu.png|fond_gris.png|fond_gris_clair.png|fond_noir.png|fond_vert.png|fond_jaune.png
Fond = fond_gris.png
# Ctrl : asportal|asremote|chrome|default|game|xbmc|system|youtube
Ctrl = xbmc

